{:paths ["src"]
 :deps {io.github.kotoba-lang/html {:git/url "https://github.com/kotoba-lang/html.git"
                                     :git/sha "aa57f2730c87b7c2752151ed1a5f2e402c2ac71e"}
        io.github.kotoba-lang/css  {:git/url "https://github.com/kotoba-lang/css.git"
                                     :git/sha "7fc8167c4fb97a92b7c21545e6a92a86cc58a9ca"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"
                     "--fail-level" "error"]}}}